body{
    background-image: radial-gradient(#101010, #2B2B45);
    background-repeat: no-repeat;
    margin: auto;
    color: white;
}
#Maincim{
    margin: 10px;
    
}
nav{
    margin: auto;
    width: 100%;
    background-color: #393963;
}
#nav1{
    position: fixed;
    top: 0;
    height: 79px;
}
#nav2{
    padding-top: 79px;
    background-color: #12133B;
    height: 79px;   
}
.row{
    display: flex;
}
.box{
    flex: 1;
    padding: 20px;
}